<div class="container row">
    <div class="container col-5 m-3 mt-5 p-2 border">
        <h2>Register</h2>
        <form action="users" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="first_name">First Name:</label>
                <input type="text" class="form-control" id="first_name" name="user[first_name]">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name:</label>
                <input type="text" class="form-control" id="last_name" name="user[last_name]">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="user[email]">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="user[password]">
            </div>
            <input type="submit" value="Register" class="btn btn-primary">
        </form>
    </div>
    <div class="container col-5 m-3 mt-5 p-2 border">
        <h2>Login</h2>
        <form action="sessions" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="text" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="password">Email:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <input type="submit" value="Login" class="btn btn-primary">
        </form>
    </div>
</div>